.pio/
firmware/include/secrets.h
arduinoe files/Kahalla_Borehole_Control/secrets.h
arduinoe files/*.zip
node_modules/
dist/
.env
.env.local
supabase/.temp/
android/.gradle/
android/app/build/
IOT Borehole Switch_100746.c
*.tsbuildinfo
vite.config.js
vite.config.d.ts
